<% provide(:title, "About") %>
<h1>About</h1>
<p>Hey, Welcome to Fantasy Football Masters!!! <br><br><br>

   In this game you can create the football team of your dreams and use it to compete against your friends and other users. Your initial budget for recruiting players is limited, so choose wisely! As you win matches your budget will grow and you can pick better and better players to join your team. Remember that all matches are based on real life stats so keep yourself updated with our Stats and News Feed features. <br><br><br>

   Make the right choices and become a Fantasy Football Master! Good luck!  </p>

<br><br>