<% provide(:title, "FAQ") %>
<h1>F.A.Q.</h1>
<p>
  How do I play? <br><br>
  Playing is easy but first you need to assemble a team by visiting the Recruit section. Just click on "recruit" on the navbar above and start picking your players with the checkboxes to the right<br>
  Having picked your team just click on the "Users" sections and find friends whom you would like to play with and click on the "Challenge" button.
<br><br><br>

 How can I increase my budget? <br><br>
  You can easily increase your budget bvy setting wagers when challenging your friends or participating in tournaments. Remember to pick your challenges wisely as your budget can also decrese if you lose! COMING SOON!
<br><br><br>

 How does Fantasy Football Masters work? <br><br>
 Fantasy Football Masters uses real world FIFA stats and integrates them into an algorithm that simulates football matches. Because the games are based on real stats it's important to keep yourself updated with our News Feed and Stats features.
<br><br><br>

</p>