@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */



@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* MARIANA CSS */


@font-face {
  font-family: 'Graduate';
  src: font-url('Graduate-Regular.ttf');
}
$display-type: 'Graduate';

$lightness: #fff;
$main_color: #39937B;
$gray-medium-light: #eaeaea;
$dark-color: #245C4D;

body,
html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: arial;
}
::-webkit-scrollbar { width: 2px;  }/* for vertical scrollbars */
::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.1); }
::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.5); }

@media (min-width: 1200px) {
    .container { width: 1100px }
}

/* Navigation */
#tf-menu {
    margin-bottom: 0;
    background-color: darken($main_color, 15%);
    padding: 10px 0;
    height: auto;
}
.navbar-brand {
  padding: 0 20px;
  height: 70px;
}
.navbar-default {
  background-image: url('back-header.svg');
  border-bottom: 4px solid darken($main_color, 25%);
}
.navbar-nav {
  padding-top: 25px;
}
.navbar-nav > li > a {
    font-size: 15px;
    font-family: $display-type;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    padding: 5px 5px;
    margin: 0 10px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a {
  color: lighten($main_color, 30%);
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: $lightness;
    border-bottom: 4px solid $lightness;
}
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover>.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus>.navbar-default .navbar-toggle .icon-bar { color: $main_color }

/* universal */

body {
  margin-top: 100px;
}

.score{
  margin-top: 75px;
}

.position_show{
  display: inline-block;
}

.position_avatar{
  margin: 0 auto;
}

.two_column {
  -webkit-column-count: 2;
  column-count: 2;
  margin: 0 auto;
  clear: both;  
}

#myplayers th, #myplayers td, #allplayers th, #allplayers td{
  padding-right: 10px;
}

.positions{
  text-align: center;
}

.userselection {
  position: fixed;
  float: left;
}

.players_show{
  margin-left: 500px;
}
.btn {
  background-color: $dark_color;
  border: $dark_color;
}
.btn:hover {
  background-color: $main_color;
  border: $main_color;
}
thead th {
  text-align: center;
  font-family: $display-type;
}
td {
  padding: 0 12px;
}
td :nth-child(6) {
  background-color: red;
}
#budget_text, #user_budget{
  display: inline-block;
  margin-left: 20px;
}

#featured_events{
  width: 300px;
  height: 400px;
  overflow-y: scroll;
  display: inline-block;
  float: left;
  border-radius: 8px;
  border: 1px solid #2C6E5C;
  padding: 20px;
  margin-right: 50px;
}

.animated{
  width: 60px;
  height: 150px;
  position: relative;
  top: 100px;
  left: 320px;
}

#event_text{
  text-align: center;
  font-weight: bold;
  height: 80px;
}

#gk_local{
  margin: 0;
  width: 55px;
  height: 55px;
  position: relative;
  top: 150px;
  display: none;
}

#gk_visitor{
  margin: 0;
  width: 55px;
  height: 55px;
  position: relative;
  left: 640px;
  top: 150px;
  display: none;
}

.indication{
  margin: 0;
  width: 50px;
  height: 50px;
  position: relative;
}

.myteam{
  width: 450px;
  height: 600px;
  margin: 0 auto;
  margin: 10px;
}

.goal_img, .red_img, .yellow_img, .freekick_img, .doubleyellow_img, .penalty_img{
  height: 50px;
}

.avatar{
  width: 55px;
}

.ball {
  position: relative;
  width: 60px;
  height: 60px;
}

.indications{
  text-align: center;
}

.clock{
  display: inline-block;
}

.matchfield {
  background-image: url("field.png");
  background-size: 700px 400px;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  display: inline_block;
  float: left;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}