<footer class="footer">
  <small>
    FANTASY FOOTBALL MASTER | ALPHA PHASE
  </small>
  <small>
    -     - FIFA assets property of EA Sports.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>